.NotePageNav button {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    border: 2px solid lightgrey;
    margin: 5px 0;
    padding: 15px 0;
    background-color: lightgrey;
    color: rgb(95, 95, 95);
}

.folder-name {
    display: block;
    width: 100%;
    font-size: 24px;
    text-align: right;
    padding: 15px 10px 15px 0;
    color: rgb(95, 95, 95);
    border: 2px solid lightgrey;
    background-color: rgb(193, 240, 250);
}