label, input, select, textarea {
    display: block;
}

label {
    margin-top: 10px;
}

form.add-folder-form {
    border: 2px solid lightgrey;
    margin: 0 10px;
    padding: 0px 0px 20px 20px;
    background-color: rgb(193, 240, 250);
    color: rgb(95, 95, 95);
    font-size: 18px;
}

button.save-folder {
    display: block;
    border: 2px solid rgb(143, 142, 142);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0px;
    background-color: rgb(231, 230, 230);
    color: rgb(95, 95, 95);
    text-align: center;
    width: 120px;
    margin-top: 10px;
}