div.Note {
    border: 2px solid lightgrey;
    margin: 0 10px;
    padding: 5px;
    background-color: rgb(248, 248, 198);
    color: rgb(95, 95, 95);
}

.Note h2 a {
    color: rgb(95, 95, 95);
}

.Note h2 {
    margin-top: 0;
}

button.delete-note {
    display: block;
    border: 2px solid rgb(143, 142, 142);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0px;
    background-color: rgb(231, 230, 230);
    color: rgb(95, 95, 95);
    text-align: center;
    width: 120px;
    margin-top: 10px;
}